{{#if isLoggedIn}}
{{#if isSeller}}
<div class="notification-icon">
    <i class='bx bx-bell'></i>
    <span class="notification-badge" id="notificationCount">0</span>
</div>
{{else}}
<div class="cart-icon">
    <i class='bx bx-cart'></i>
    <span class="cart-badge" id="cartCount">0</span>
</div>
<div class="notification-icon">
    <i class='bx bx-bell'></i>
    <span class="notification-badge" id="notificationCount">0</span>
</div>
{{/if}}
<div class="user-profile">
    <div class="profile-icon" id="profileIcon">
        {{#if loginData.profile_img}}
        <img src="{{loginData.profile_img}}" alt="Profile Image" class="profile-image" id="profileImage">
        {{else}}
        <div class="profile-placeholder" id="profilePlaceholder">{{loginData.username.[0]}}</div>
        {{/if}}
    </div>
</div>
<div class="profile-details" id="profileDetails">
    <div class="detail-container">
        <p>{{loginData.email}}</p>
        <div class="profile-detail-icon" id="profileDetailIcon">
            {{#if loginData.profile_img}}
            <img src="{{loginData.profile_img}}" alt="Profile Image" class="profile-detail-image"
                id="profileDetailImage">
            {{else}}
            <div class="profile-placeholder" id="profilePlaceholder">{{loginData.username.[0]}}</div>
            {{/if}}
        </div>
        <h3>Hi, {{loginData.username}}!</h3>
    </div>
    <div class="profile-header">

        {{!-- <button id="btnAccManage" class="btn-acc-manage">Manage your Account</button> --}}
        <div class="detail-logout" id="detailLogout">
            <a role="button"><i class="icon"><i class='bx bx-log-out'></i></i>Logout</a>
        </div>
    </div>
</div>
<div class="notification-details" id="notificationDetails">
        <h3>Notifications</h3>
    <div class="notification-container">
        {{#each history}}
        <div class="notification-item">
            <p>Your order has been processed: </p>
            <p>#{{history_id}}</p>
            <p>{{history_product_name}}</p>
        </div>
        {{/each}}
    </div>
</div>
{{else}}
<div class="user-profile">
    <button id="btnLogin" class="btn-login">Sign in</button>
</div>
{{/if}}