{{> search_bar}}
<div class="orders-container">
    {{#each orders}}
    <div class="order-card" data-order-id="{{order_id}}">
        <div class="left-content">
            <h2>Order ID: {{order_id}}</h2>
            <p><strong>Product:</strong> {{product_name}}</p>
            <p><strong>Seller:</strong> {{seller_name}}</p>
            <p><strong>Customer:</strong> {{user_name}}</p>
            <p><strong>Date:</strong> {{order_date}}</p>
            <p><strong>Quantity:</strong> {{order_quantity}}</p>
            <p><strong>Total Price:</strong> ${{order_final_price}}</p>
        </div>
        <div class="right-content">
            <p><strong>Status:</strong>Pending</p>
            <div class="order-options" style="display: none;">
                <button class="delete-order-btn" data-order-id="{{order_id}}">Delete Order</button>
                <button class="confirm-order-btn" data-order-id="{{order_id}}">Confirm</button>
            </div>
        </div>
    </div>
    {{/each}}
</div>