<div class="flex-container">
    {{> admin_nav}}
    <div class="contents">
        <div class="top-details">
            <div class="sidebar-toggle" id="sidebarToggle">
                <div class="toggle-icon">
                    <i class='bx bxs-chevron-left'></i>
                </div>
            </div>
            {{#each shops}}
            <h1 class="shop_name">{{shop_name}}</h1>
            {{/each}}
            {{#if isLoggedIn}}
            <div class="user_profile">
                <h3 id="dropDown" class="username">{{username}}</h3>
            </div>
            {{/if}}
        </div>
        <div class="search-add">
            {{> search_bar}}
            <div class="add-product-btn" id="addProductBtn">+</i></div>
        </div>
        <div class="container">
            {{#each products}}
            <div class="product-card">
                <div class="img-display">
                    <img src="{{product_img}}" class="product-img" onerror="this.style.display='none';" />
                </div>

                <div class="product-info">
                    <h4 class="product-name">{{product_name}}</h4>
                    <p class="product-desc">{{product_description}}</p>
                </div>
                <div class="product-id">#{{product_id}}</div>
                <div class="product-qty">{{product_stock}} Items</div>
                <div class="product-category">{{product_category}}</div>
                <div class="product-price">${{product_price}}</div>
                <div class="product-actions">
                    <button class="edit-btn"><i class='bx bxs-edit-alt'></i></button>
                    <button class="delete-btn"><i class='bx bxs-trash'></i></button>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

{{> admin_modal}}