{{> header }}

<div class="product-container">
    {{#each Product}}
    <div class="product" id="{{product_id}}">
        <div class="img-display">
            <img src="{{product_img}}" alt="" class="product-img"/>
        </div>
        <div class="product-details">
            <div class="left-detail">
                <div class="product-name">{{product_name}}</div>
                <div class="product-description">{{product_description}}</div>
            </div>
            <div class="right-detail">
                <div class="product-stock">{{product_stock}} Stock</div>
                <div class="product-price">₱{{product_price}}</div>
            </div>
        </div>
        <button class="add-cart">Add to Cart</button>
    </div>
    {{/each}}
</div>
{{> alert}}